<div>
  <mat-toolbar color="primary">
    <span>Funcionario</span>
    <button mat-button [matMenuTriggerFor]="menu">Opçoes</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="funcionario/cadastro">Cadastro</button>
      <button mat-menu-item routerLink="funcionario/pesquisa">Pesquisa</button>
    </mat-menu>
    <!-- <button mat-button [matMenuTriggerFor]="menuCategoria">Categoria</button>
    <mat-menu #menuCategoria="matMenu">
      <button mat-menu-item routerLink="categoria/cadastro">Cadastro</button>
      <button mat-menu-item routerLink="categoria/pesquisa">Pesquisa</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuConta">Conta</button>
    <mat-menu #menuConta="matMenu">
      <button mat-menu-item routerLink="conta/cadastro">Cadastro</button>
      <button mat-menu-item routerLink="conta/pesquisa">Pesquisa</button>
    </mat-menu> -->
  </mat-toolbar>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>